extend layout
block content
    h1 Search results for '#{query}' (click on title to copy mapping JSON to clipboard):
    ul.memeList
        each result in results
            li.meme
                .result
                    button.copy(name='#{result.displayName}', content=result.mapping)
                        p #{result.displayName}
                img(class=meme, src=result.imageUrl, width='150px')
    script(type='text/javascript', src='/js/search.js')
