extend layout

block content
    h1 Search results for: #{query}
    ul.results
        each result, index in results
            li.result
                p.query #{index+1}. #{result.displayName}
                img(class=resultImage, src=result.imageUrl, width='150px')
                pre.json #{result.mapping}
