extend layout
block content
    h1 Search results for '#{query}':
    ul.memeList
        each result, index in results
            li.meme
                p.query #{index+1}. #{result.displayName}
                img(class=meme, src=result.imageUrl, width='150px')
                pre.json #{result.mapping}
